<div class="relative flex-none" data-controller="dropdown">
  <button
    type="button"
    class="-m-2.5 block p-2.5 text-gray-500 hover:text-gray-900"
    id="options-menu-0-button"
    aria-expanded="false"
    aria-haspopup="true"
    data-action="click->dropdown#toggle"
  >
    <span class="sr-only">Open options</span>
    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z"/>
    </svg>
  </button>

  <div
    data-dropdown-target="menu"
    class="dot-dropdown transform opacity-0 scale-95 absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="options-menu-0-button"
    tabindex="-1"
  >
    <%= yield %>
  </div>
</div>