<div>
  <div><%= @campaign.title %></div>
  <h1 class="heading lg">Players</h1>
</div>

<%= turbo_frame_tag :players do %>
  <%= render @players %>
  <% if @players.empty? %>
    <p class="text-gray-500">No players yet.</p>
  <% end %>
<% end %>