<h1><%= @campaign.title %></h1>
<p>
  Created by: <%= @campaign.owner.name %>
</p>
<% if can? :update, @campaign %>
  <%= link_to "Edit", edit_campaign_path(@campaign) %>
<% end %>
<% if can? :destroy, @campaign %>
  <%= button_to "Delete", @campaign, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
