<h1><%= @campaign.title %></h1>
<% if can? :update, @campaign %>
  <%= link_to "Edit", edit_campaign_path(@campaign) %>
<% end %>
<%= button_to "Delete", @campaign, method: :delete, data: { confirm: "Are you sure?" } %>